*.js
!jest.config.js
*.d.ts
node_modules

*.env

# CDK asset staging directory
.cdk.staging
cdk.out

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
